.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding-inline: 50px;
}

.nav-list {
  display: flex;
  gap: 25px;
}
.nav-list .nav-list__link {
  font-size: 14px;
  font-weight: bold;
}